<div class="container well">
    <div class="row">
        <div class="col-sm-12 well">
            <app-server-edit (onServerAdded)="addServer($event)" (onBluePrintServerAdded)="addBluePrint($event)"></app-server-edit>
        </div>
        <div class="col-sm-12">
            <app-server *ngFor="let serverElement of serverElements" [element]="serverElement"></app-server>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Passing the data between sibiling components</h4>
            <button class="btn btn-primary" (click)="sendMsg()">Send Message</button>
            <button class="btn btn-warning" (click)="clearMsg()">Clear Message</button>
        </div>
    </div>
</div>