<div class="form-group">
    <label for="usr">server name:</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="serverName"> -->
    <input type="text" class="form-control"  #serverNameInput> 
</div>
<div class="form-group">
    <label for="pwd">server content:</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="serverContent" #serverContentInput> -->
    <input type="text" class="form-control"  #serverContentInput>
</div>
<button (click)="connect(serverNameInput, serverContentInput)">connect</button>
<button (click)="bluePrintServer()">Blue print </button>